.container{
    display: grid;
    margin-top: 5px;
}
.tittle{
    text-align: center;
    background-color: rgb(137, 240, 145);
    border-radius: 5px;
    border: 2px solid rgb(94, 212, 104);
}

.subTittle{
    margin-top: 20px;
    padding-left:12px;
    background-color: rgb(137, 240, 145);
    border-radius: 5px;
    border: 2px solid rgb(94, 212, 104);
}
.subText{
    margin-top: 10px;
    padding-left:12px;
}
.aTittle{
    font-weight: bold;
}

.infoContainer{
    display: flex;
    margin: 5px;
    align-items: flex-start;
    flex-direction: column;
}

.iconContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon{
    width: 20px;
    height: 20px;
}
.iconBackground{
    margin-right: 10px;
    background-color: rgb(137, 240, 145);
    border-radius: 50%;
    border: 2px solid rgb(94, 212, 104);
    width: 34px;
    height: 34px;
    padding: 5px;
    display: flex;
}

.iconContainer>p{
    margin: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    
}

ul li::marker{
    color: rgb(94, 212, 104);
}